Options -Indexes
ErrorDocument 404 http://server3/error/index.html
ErrorDocument 403 http://server3/error/index.html
ErrorDocument 400 http://server3/error/index.html
ErrorDocument 500 http://server3/error/index.html
